### IntelliJ IDEA ###
../../out/
!**/src/main/**/out/
!**/src/test/**/out/
hexgrid.dat

# Gradle - ne pas versionner les fichiers générés
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Java compilé
*.class
*.jar
*.war
*.ear

# Logs et cache
*.log
.cache/

# OS
.DS_Store
Thumbs.db